@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*----------------------------------------------------------------
    Branding Colour
----------------------------------------------------------------*/
p, ul li {
    font-family: 'Raleway', sans-serif;
    color:#fff;}
h3, h2, h1, #header1 p {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #82bd06;}
h3, h2, h1, .btn,.formbuilder-form .row label, .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    text-transform: uppercase;}
/*----------------------------------------------------------------
    Buttons
----------------------------------------------------------------*/
.btn{
    width: 40%;
    border-radius:10px;
    background-color: #d88e10;
    color: #222;
    transition: 0.2s 0.2s ease-out;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    background-color: #000;
    color: #fff;
    transform: scale(1.2);
}
#header2, #header2a a , #header2b a, .btn ,input#submit-form, #submit-form, .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form,footer a {text-decoration: none;}
/*----------------------------------------------------------------
    Forms
----------------------------------------------------------------*/
 .form, #contact_form_form, #quote_form_form, #extraFormsContainer .modal-dialog{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}
.formbuilder-form .row input, .formbuilder-form .row select, .formbuilder-form .row textarea{
    border: 1px solid #bbbbbb;
}
.formbuilder-form .row label, div.formbuilder-wrapper label {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #373737;
    margin-bottom: 8px;
}
.formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form{
    border-radius:10px;
    background-color: #d88e10;
    color: #222;
}
.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn {
    border-radius:10px;
    background-color: #000;
    color: #fff;
}
/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/
header{
    padding: 0px 0 0px 0;}
#header1 p {
    font-size: 40px;}
header a {
    color:#fff;}
hgeader span, #header2a a, #header2a:before, #header2a{
    color: #82bd06;}
#header2a {
    font-size: 35px;}
#header2a:before {
    font-size: 30px;}
#header1 p {
    padding-top: 25px;
    line-height: 60px;}
#header2 {
    padding-top: 0px;
    padding-bottom: 11px;}
#header2b {
    font-size: 18px;
    line-height: 20px;}
/*----------------------------------------------------------------
    Banner 
----------------------------------------------------------------*/
#banner1 h1 {
    color: #fff;
    font-weight: 900;}
 #banner1 p {
    color: #fff;}
#banner1 h1 {
    font-size: 70px;}
.banner_cover {
    opacity: 0.1;
    background-color: #000}
#banner1 {
    animation:move 2s ease;}
@-webkit-keyframes move {
  from {transform: scale(0.8);opacity:0;}
  to {transform: scale(1.0);opacity:1;}
}

/*----------------------------------------------------------------
    Services & Content
----------------------------------------------------------------*/
#services{
    padding: 60px 0 40px;
    border-top:5px solid #d88e10;
    border-bottom:5px solid #d88e10;
}
#services h3 {
    color: #82bd06;}
#services p {
    color: #222;}
#services h3:hover{
    transform: scale(1.1);}
#service1,#service2,#service3,#service4{
    transition: 0.2s 0.2s ease-out;}
#service1:hover,#service2:hover,#service3:hover,#service4:hover{
    transform: scale(1.2);}
/*----------------------------------------------------------------
    Gallery
----------------------------------------------------------------*/
#contact .img-responsive{
    transition: 0.2s 0.2s ease-out;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.17);}
#contact .img-responsive:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17);}
#gallery .img-responsive{
    transition: 0.2s 0.2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);}
#gallery .img-responsive:hover{
    opacity: 0.5;
    transform: scale(1.0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);}
#gallery img {
    width:100%;}
#gallery1 p, #gallery, #gallery .container {
   padding: 0;
   margin-bottom :0;
   width: 100%;}
#gallery1, #gallery p > img, #gallery p > a, #gallery p.gallery1 > a, #gallery p.gallery1 > img {
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin:0;
    padding:0;}
@media only screen and (min-width: 767px){
#gallery p > img, #gallery p > a, #gallery p.gallery1 > a, #gallery p.gallery1 > img {
        -webkit-box-flex: 0 0 33.333%;
        -webkit-flex: 0 0 33.333%;
        -ms-flex: 0 0 33.333%;
        flex:  0 0 33.333%;
        max-width: 33.333%;
        margin-bottom: 0px;}
}
/*----------------------------------------------------------------
    Contact
----------------------------------------------------------------*/
#contact {
    border-bottom:5px solid #d88e10;}
#contact p, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus {
    text-decoration: none;color: #fff;}
#contact1b, #contact2c, #contact2d, #contact2e, #contact2f, #contact2g, #content2b {
    display: none;}
/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer, footer a, footer * {color: #000;}
footer {
    background-color: #f4f4f4;}
footer a {font-weight: 500;}
/*----------------------------------------------------------------
    Media Queries
----------------------------------------------------------------*/
@media only screen and (max-width: 767px) and (min-width: 0px)  {
    #header{padding: 10px 0 20px 0;}
    #header1 p {padding-top: 0px;margin-bottom: -14px;}
    #header2b {
        line-height: 18px;
        padding-bottom: 10px;}
    #header2 {padding-bottom: 0px;}
    #services {padding: 80px 0 60px 0;}    
    #header {padding: 10px 0 10px 0;}
    #header2a {line-height: 45px;}
    #service1:hover,#service2:hover,#service3:hover,#service4:hover{transform: scale(1.0);}
}
@media (max-width: 440px) {
    #header2a a {font-size: 35px;}
    #header2a:before {font-size: 30px;}
    #banner h1 {font-size: 40px;}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    #header2{padding-top: 0px;}
    #header2b a{font-size: 14px;}
    #header2a:before {font-size: 22px;}
    #header2a {
        font-size: 25px;
        line-height: 18px;} 
    #header2 {
        padding-top: 13px;
        padding-bottom: 5px;}
}
@media only screen and (max-width: 690px) and (min-width: 441px) {#banner h1 {font-size: 50px;}}
@media (max-width: 710px) {.btn{width:100%;word-wrap: break-word;}}
@media (min-width: 0px) {.btn {margin-top: 10px;}}
@media (max-width: 767px) {#service3 {clear:left }} 